{% extends "base.html" %}

{% block app_content %}

<h1>{{ current_user.username }}'s Cart:</h1>

<table class="table">
<thead>
    <tr>
    <th scope="col">Product</th>
    <th scope="col">Price</th>
    <th scope="col">Quantity</th>
    <th scope="col">Total Price</th>
    <th scope="col"></th>
    </tr>
</thead>
<tbody>
{% if not editing %}
    {% for cartitem in cartitems %}

    {% include "cards/_cart_item.html" %}

    {% endfor %}
{% else %}
    {% from "_formhelpers.html" import render_field %}
    
    <form method="POST">
        {% for cartitem in cartitems %}
        {% with loop_index0 = loop.index0 %}
        {% include "cards/_cart_item_edit.html" %}
        {% endwith %}
        {% endfor %}
    </form>
    
{% endif %}
{% if not cartitems.first() %}
<tr><td>Your cart is empty.</td></tr>
{% endif %}
</tbody>
</table>
<a class="btn btn-outline-primary" href="#" role="button">Checkout (Total: ${{ ccart.price }})</a>

{% endblock %}