{% extends "base.html" %}

{% block app_content %}
    <div class="container">
        <div class="card bg-dark text-white">
        <!-- Button trigger modal -->
        {% if current_user.is_anonymous or current_user.usertype=='Vendor' or current_user.usertype=='Admin' %}
            <h1 class="card-body text-center">{{ item.title }}</h1>
            <img src="{{ item.image }}" style="width:500px;height:300px;margin:0 auto;">
            <p class="card-body text-center">Price: ${{item.price}}</p>
            <p class="card-body text-center">Item Description: {{item.description}}</p>
            <p class="card-body text-center">Item ID: {{item.id}}</p>
        {% else %}
            <form action="" method="post" novalidate>
                <p class="card-body text-center">{{ form.submit() }}</p>
            </form>
        {% endif %}
        </div>
    </div>
{% endblock %}